<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>This is the home page. <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, veniam maiores itaque excepturi quae
      consequuntur culpa suscipit? Soluta, adipisci! Sed explicabo nisi suscipit corporis sequi quisquam distinctio
      quaerat numquam dicta!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia eaque, nostrum delectus eum fugiat molestiae
      odio, sed nihil nesciunt deserunt unde doloribus amet magnam non aliquam qui aut est facere?
    </p>
  </body>
</html>
